@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  background: #EDF0F5;
  color: black;

  @font-face {
    font-family: 'Chula Charas New Bold';
    src: url('./fonts/ChulaCharasNewBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
}


// styles.scss

:root {
  
  input {
    border: 1px solid gray;
    padding: 4px 8px;
    border-radius: 4px;
    outline: none;
    
    &:focus {
      border-color: #FF76A3;
      box-shadow: 0 0 0 2px #FF76A3;
    }
  }
}


// styles.scss

// styles.scss

:root {
  select {
    border: 1px solid gray;
    padding: 4px 8px;
    border-radius: 4px;
    outline: none;
    
    &:focus {
      border-color: #FF76A3;
      box-shadow: 0 0 0 2px #FF76A3;
    }
  }
}

